
<!DOCTYPE html>
<html>
<head>
	<meta name="viewpoint" content="width=device-width,initial-scale=1.0">
	<title>ABOUT PAGE</title>
	<link rel="stylesheet" type="text/css" href="sty2.css">
</head>
<body>
<h1>
	<p style="text-align: center;"> ABOUT US </p>
</h1>
	<img src="vot.png" width=100% height="250px" margin-left="10px">

<marquee ><h2>WE PROVIDE FOLLOWING INFO ABOUT UR CANDIDATE:<h2></marquee>
		<header></header>
<div class="c4">
	<h5 style="color:blue">CAND BACKGROUND:</h5>
<article calss="a">IN THIS FEATURE WE DESCRIBE THE BACKGROUND OF CANDIDATE STANDING FOR ELECTION IN YOUR CONSTITUENCY. </article>
</div>
<div class="c5">
	<h5 style="color:blue">CAND RECORD:</h5>
	<article calss="d">HERE WE BRING YOU THE CRIMINAL RECORD OF ANY CANDIDATE (if any).</article>
</div>

<div class="c6">
	<h5 style="color:blue">MONEY RELEASED:</h5>
	<article calss="b">NOW WE GIVE THE DETAILS OF MONEY GIVEN TO ANY CANDIDATE BY ANY GOV. BODY IN LAST FINANCIAL YEAR.</article>
</div>
<div class="c7">
	 <h5 style="color:blue">MONEY SPENT:</h5>
	 <article calss="c">HERE WE GIVE YOU ALL THE INFO ABOUT AMOUNT OF FUND SPENT BY THE CANDIDATE I LAST FINANCIAL YEAR FOR ANY PROJECT.ALSO IT INCLUDES THE PROJECT DETAILS.</article>
</div>
 <footer class="footer">
		 	&copy:copyright shashank 2019
		 </footer>
</body>
</html>