<html>
    <body style="background-color: rgb(100, 0, 187);">
        <h1 style="text-align: center;background-color: grey;">DELETE THE DETAILS OF A CANDIDATE</h1>
        </br>
        </br>
        <form action="/delete" method="POST">
        <label><B>ENTER CANDIDATE'S ID TO BE DELETED:  </B></label><input type="text" name="candid" placeholder="enter CANDIDATE's id">
        <button>send</button>
    </form>
    </body>
</html>