<html>
    <h1 style="text-align: center;background-color: rgb(196, 186, 204);">SEARCH FOR THE INFORMATION
    </h1>
</br>
</br>
    <body style="background-color: rgb(243, 241, 237);">
        <form action="/displayf" method="POST">
        <label><B>ENTER TYPE OF INFORMATIONTO BE SHOWN:  </B></label><input type="text" name="type" placeholder="enter type of info">
        <button>send</button>
    </form>
    </body>
</html>