<!DOCTYPE html>
<html>
    <h1 style="text-align: center;background-color:mediumseagreen;">ADD CANDIDATE'S DETAIL</h1>
</br>
    <body style="background-color:tomato;">
<form action="/insert2" method="post">
<div style="float: left;margin-left:5%;width: 45%;">
    <div>
    <B>ENTER CANDIDATE'S ID: </B><input style="width: 80%;"type="number" name="candid" placeholder="enter candidate's_id" required>
</div>
</br>
<div>
    <div><B>ENTER CANDIDATE'S NAME: </B></div><input style="width: 80%;"type="text" name="candname" placeholder="enter candidate's_name"required>
</div>
</br>
<div>
    <B>ENTER CANDIDATE'S DATE OF JOINING: </B><input style="width: 80%;" type="date" name="date" placeholder="enter candidate's date of joining"required>
</div>
</br>
<div>
        <B>ENTER CANDIDATE'S LAST ELEC_RECORD: </B><input style="width: 80%;"type="text" name="elec_rec" placeholder="enter candidate's last_elec_record"required>
</div>
</br>
<div>
        <B>ENTER CANDIDATE'S CRIMINAL RECORD(if any): </B> <input style="width: 80%;" type="text" name="crim_rec" placeholder="enter candidate's criminal record"required>
</div>
</br>
<div>
        <B>ENTER CANDIDATE'S GENDER: </B> <input style="width: 80%;"type="text" name="gen" placeholder="enter candi_gender"required>
</div>
</br>
<div>
        <B>ENTER CANDIDATE'S AGE: </B> <input style="width: 80%;"type="number" name="age" placeholder="enter candi_age"required>
</div>
</br>
<div>
        <B>ENTER CANDIDATE'S QUALIFICATION: </B> <input style="width: 80%;"type="text" name="qua" placeholder="enter candi_qualification"required>
</div>
</br>
</div>
<div style="float: right;width: 45%;height:351px">
        <div>
                <B>ENTER CANDIDATE'S ASSETS: </B><input style="width: 80%;"type="text" name="assets" placeholder="enter candi_assets">
        </div>
        </br>
        <div>
                <B>ENTER CANDIDATE'S PROJ_NAME: </B> <input style="width: 80%;"type="text" name="proj_name" placeholder="enter candi_project_name">
        </div>
        </br>
        <div>
                <B>ENTER CANDIDATE'S FUND PROVIDED: </B> <input style="width: 80%;"type="text" name="fundp" placeholder="enter funds provided">
        </div>
        </br>
        <div>
                <B>ENTER CANDIDATE'S FUND SPENT: </B> <input style="width: 80%;"type="text" name="funds" placeholder="enter funds spent">
        </div>
        </br>
        <div>
                <B>ENTER CANDIDATE'S PROJ_YEAR: </B><input style="width: 80%;"type="date" name="year2" placeholder="enter year">
        </div>
        </br>
        <div>
                <B>ENTER CANDIDATE'S PROJ_STATUS: </B> <input style="width: 80%;"type="text" name="status" placeholder="enter candi_status">
        </div>
        </br>
        <div>
                <B>ENTER CANDIDATE'S ACHIEVEMENTS: </B> <input style="width: 80%;"type="text" name="achiv" placeholder="enter candi_achievements">
        </div>
        </br>
        <div>
                <B>ENTER CANDIDATE'S YEAR: </B><input style="width: 80%;"type="number" name="year1" placeholder="enter year">
        </div>
</div>
<button style="margin-left:25%;width: 45%;">INSERT</button></div>
</form>
</body>
</html>