<!DOCTYPE html>
<html>
    <body style="background-color:wheat;">
        <h1 style="text-align: center;background-color: chocolate;">ADD NEW CONSTITUENCY AND PARTIES IN IT</h1>
    </br>
</br>
<form action="/insert1" method="post">
<div>
    <div>
    <label"><B>ENTER CONTITUTION ID: </B></label><input type="number" name="constid" placeholder="enter consti_id">
</div></BR>
<div>
        <label"><B>ENTER CONTITUTION NAME: </B><input type="text" name="constname" placeholder="enter consti_name">
</div></br>
<div>
        <label"><B>ENTER CONGRESS CANDIDATE'S ID: </B><input type="number" name="candid1" placeholder="enter candi_id FOR CONGRESS">
</div></br>
<div>
        <label"><B>ENTER BJP CANDIDATE'S ID: </B> <input type="number" name="candid2" placeholder="enter candi_id FOR BJP">
</div></br>
<div>
        <label"><B>ENTER APP CANDIDATE'S ID: </B><input type="number" name="candid3" placeholder="enter candi_id FOR AAP">
</div></br>
<div>
        <label"><B>ENTER OTHER CANDIDATE'S ID: </B><input type="number" name="candid4" placeholder="enter candi_id FOR OTHERS">
</div></br>
<div><button style="margin-left: 5%;">INSERT</button></div>
</div>
</form>
</body>
</html>