<h1>login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="enter ur email">
    <input type="password" name="password" placeholder="enter ur password">
    <button>submit</button>
</form>