<h1 style="background-color: brown;text-align: center;">HELLO ADMIN</h1>
<body style="background-color: chocolate;">
    <div style="text-align: center;">
        <img src="prof.png" width="150px">
    </div>
<h2 style="text-align: center;color: burlywood ;">YOU CAN INSERT DISPLAY AND DELETE DATAS IN DATABASE</h2>
<h3>CLICK TO ADD NEW CONSTITUENCY AND IT'S CANDIDATE   <a href="/views/insert1.ejs"><button>INSERT</button></a></h3>
<h3>CLICK TO ADD CANDIDATE'S COMPLETE DETAILS     <a href="/views/insert2.ejs"><button>INSERT</button></a></h3>
<h3>CLICK TO DISPLAY DATA FROM DATABASE      <a href="/views/display.ejs"><button>DISPLAY</button></a></h3>
<h3>CLICK TO DELETE DATA FROM DATABASE      <a href="/views/delete.ejs"><button>DELETE</button></a></h3>
</body>