<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>
		FIRST WEB
	</title>
	<link rel="stylesheet" type="text/css" href="/css/sty.css" />
	<!-- <link rel="stylesheet" type="text/css" href="sty.css"> -->
		<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="free demo website">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
	 <div class="container-fluid">	
	 	<div >
				<!-- <img align="center" src="in.jpg"> -->
				<h1 class="c1" style="text-align: center"><b>WELCOME TO CANDIDATE INFO</b></h1>
				 <marquee><h2>NOW YOU CAN KNOW THEM BEFORE CASTING YOUR VALUABLE VOTE<h2></marquee>
				
				 <header class="c2">
				 	<a class="co" href="about.html"> ABOUT US</a>
				 	<a  class="co" href="support.html">SUPPORT  </a>
				 </header>
				 <!-- <input type="text" value="enter ur constituency name"/> -->
				  <h3>CHOOSE YOUR CONSTITUENCY</h3>
				  <form action="/regis" method="POST"> 
					 <input style="background-color: violet" type="text" name="constii" placeholder="constituency" required>
					 <!-- <button onclick="window.location.href='#';">search</button>   -->
					<input type="submit">
			     </form>
				 <h3>CHOOSE PARTY NAME</h3>
				 	<div>
						 <form action="/login" method="POST">
							<select style="background-color: violet;margin-bottom: 10px;" name="partyy">
								<option>CONGRESS</option>
								<option>BJP</option>
								<option>AAP</option>
								<option>OTHER</option>
							</select>
							<button>submit</button>
					     </form>
				         <!-- <button onclick="window.location.href='https://www.google.com/';">search</button> -->
				   </div>
		</div>		 	 
				 <br/>
				 <br/>
				 <div class="container">
				 	<div class="row" >
					 	<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="thumbnail">
								 	<img style="height: 250px;" src="i.png">
								</div>
						</div>		
								 	<!-- <img style="margin-left: 110px" src="k.png" width=27% height="205px"> -->
						<div class="col-lg-4 col-md-4 col-sm-6" >
								<div class="thumbnail">
								 	<video class="c5" style="height: 250px;" src="v.mp4" controls autoplay loopback></video>
								</div>
						</div>		 	
						<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="thumbnail">
								 	<img style="height: 250px;" src="r.jpg">
								</div>
						</div>		 	
								 	<!-- <img src="i2.jpg " width=25% height="305px"  margin-top="40px"> -->	
				    </div>
				  </div>
				 <footer class="footer">
				 	&copy:copyright shashank 2019
				 </footer>
	  </div>
	</body>
</html>