<% include ./partials/header %>
<html>
    <head>

    </head>
    <body style="background-color: green;">
        <div >
            <h1><marquee>WELCOME SUCCESSFULLY LOGGED IN</marquee></h1>
            <h2>Here we can design the actual website</h2>
        </div>
    </body>
</html>