<body style="background-color: rgb(4, 78, 78);">
        <div > 
                <h1 style="text-align: center;background-color: lightblue;">PERSONAL DETAILS</h1>
                <%finals.forEach(function(finals){%>
                    <!-- <div style="float: right;background-color: orchid;"><img src="prof.png" width="200px" height="200px"></div> -->
                    <!-- <img style="float: right; width: 200px;height: 400px;" src="prof.png"> -->
                    <div style="float: left;width: 100%;">
                        <img style="float: right;"src="prof.png" width="200px" height="200px">
                    <span></span><h3>ID ::<span><%= finals.id%></span></h3></span>
                    </br>
                    <h3>GENDER ::<span><%= finals.gender%></span></h3>
                    </br>
                    <h3>AGE ::<span><%= finals.age%></span></h3> 
                    </br>
                    <h3> ASSETS ::<span><%= finals.assets%></span></h3>
                    </br>
                    <hr>
                </div>
                <%});%>
        </div>
        </body>